.search {
  padding: 0 0 0 240px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 20;
  height: 200px;
}

.search__title {
  font-family: 'Open Sans;' "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #000000;
  margin: 40px 0 0 60px;
}

.search__container-input {
  position: relative;
  margin: 31px 60px 40px;
  display: flex;
  align-items: center;
}

.search__input-img {
  position: absolute;
  left: 16px;
}

.search__input {
  width: 1080px;
  height: 52px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  box-sizing: border-box;
  border-radius: 50px;
  padding: 0 0 0 45px;
  font-family: 'Open Sans;' "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

@media screen and (max-width: 768px) {
  
  .search {
    padding: 0 0 0 104px;
    /* position: absolute; */
    position: sticky;
    top: -73px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 20;
    height: 200px;
  }
  .search__title {
    text-align: right;
    margin: 31px 27px 0 0;
  }

  .search__container-input {
    margin: 33px 27px 27px;
  }

}

@media screen and (max-width: 320px) {
  .search {
    padding: 0 0 0 12px;
    position: sticky;
    top: -61px;
  }

  .search__title {
    text-align: right;
    margin: 37px 20px 0 0;
    font-size: 24px;
    line-height: 32px;
  }

  .search__container-input {
    margin: 21px 21px 27px;
  }

  .search__input {
    font-size: 14px;
  }
}