.side-menu {
  width: 240px;
  background: #F3F4F9;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: block;
}

.side-menu_mobile {
  width: 104px;
  background: #F3F4F9;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}


.menu__btn {
  width: 48px;
  height: 106px;
  position: absolute;
  top: 0;
  left: 240px;
  background-image: url('../images/Union.svg');
  display: none;
}

.menu__btn_mobile {
  width: 48px;
  height: 106px;
  position: absolute;
  top: 0;
  left: 104px;
  background-image: url('../images/Union.svg');
}

.btn {
  padding-top: 43px;
  padding-left: 10px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.container-menu {
  padding: 0;
}

.logo-img {
  margin: 41px 0 20px 41px;
}

.menu__item {
  list-style-type: none;
  margin: 40px 0 0 0;
  width: 240px;
  padding: 0 0 0 41px; 
}

.menu__item_mobile {
  list-style-type: none;
  margin: 40px 0 0 0;
  padding: 0;
  width: 104px;
}



._active-list {
  border-left: 3px solid #34ABE0;
}

._active-list > .item-menu__container > .item-menu__link {
  color: #34ABE0;
}

._active-list > .item-menu__container > .item-menu__img {
  stroke: #34ABE0;
}

._active-list > .item-menu__container_mobile > .item-menu__link_moile > .item-menu__img {
  stroke: #34ABE0;
}

.menu__item:hover > .item-menu__container > .item-menu__link {
  color: #34ABE0;
}

.menu__item:hover > .item-menu__container > .item-menu__img {
  stroke: #34ABE0;
}

.item-menu__container {
  display: flex;
  align-items: center;
}

.item-menu__container_mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-menu__link {
  text-decoration: none;
  color: #333333;
  font-family: 'Open Sans;' "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 0 15px;
}

.item-menu__link_moile {
  text-decoration: none;
  margin: 0;
}

.item-menu__link_moile:hover > .item-menu__img {
  stroke: #34ABE0;
}

._hidden {
  display: none;
}

@media screen and (max-width: 768px) {

  .side-menu {
    display: none;
  }

  .side-menu_mobile {
    display: block;
  }

  .menu__btn {
    display: block;
  }
    
  .logo-img {
    height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .side-menu {
    width: 192px;
  }

  .side-menu_mobile {
    left: -92px;
  }

  .menu__btn {
    left: 191px;
  }
  
}